.InternetConnectionStatus {
  text-align: center;
  font-weight: bold;
}
.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: lightgrey;
}
.footer2 {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-bottom: 50px;
  background-color: rgb(91, 158, 231);
}
.footer3 {
  width: 100%;
  padding: 20px;
  position: fixed;
  bottom: 0;
  margin-bottom: 100px;
  background-color: rgb(48, 175, 225);
}
